.profile {
	display: flex;
	justify-content: space-between;
	gap: 3vw;
}

.profile .left {
	gap: 12px;
}

.square {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 64px;
	aspect-ratio: 1;
	border-radius: 12px;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	-ms-border-radius: 12px;
	-o-border-radius: 12px;
}

.profile-info h5 {
	font-size: var(--h5);
	font-weight: 500;
}

.profile-info h6 {
	font-size: var(--h6);
	font-weight: 500;
	color: var(--dark-50);
}

.alert {
	color: var(--primary);
	background-color: var(--primary-5);
}

.img-wrapper {
	position: relative;
}

.img-wrapper .alert {
	display: none;
	position: absolute;
	top: -15%;
	right: -15%;
	border-radius: 50%;
	height: fit-content;
	aspect-ratio: 1;
	background-color: white;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
}

@media screen and (max-width: 1220px) {
	.img-wrapper .alert {
		display: block;
	}

	.profile-info,
	.alert-square {
		display: none;
	}
}

@media screen and (max-width: 768px) {
	.img-wrapper .alert {
		display: none;
	}

	.profile-info {
		display: block;
	}
	.alert-square {
		display: flex;
	}

    .profile  {
        justify-content: flex-start;
		width: 100%;
	}

    .profile .left {
        justify-content: flex-start;
        gap:20px;
    }
}
