header {
	margin: 0 auto;
	max-width: 1280px;
	padding: 20px;
	padding-block: 35px;
	animation: appear 1s ease-in-out forwards;
	-webkit-animation: appear 1s ease-in-out forwards;
}

header .container {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 4vw;
	height: 64px;
	width: 100%;
}

.container .left {
	display: flex;
	align-items: center;
	gap: 3vw;
	width: 100%;
}

.sidebar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 3vw;
	width: 100%;
}

.nav-list {
	display: flex;
	width: 20vw;
	justify-content: space-between;
}

.nav-item {
	text-decoration: none;
	font-size: 16px;
	font-weight: 500;
	color: var(--dark-50);
}

.right {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 50px;
}
.separator {
	height: 64px;
	width: 1px;
	background-color: var(--stroke);
}

.sidebar-btn {
	display: none;
}

.divider {
	animation: appear 1s ease-in-out forwards;
}

@keyframes appear {
	0% {
		opacity: 0;
		transform: translateY(-100%);
		-webkit-transform: translateY(-100%);
		-moz-transform: translateY(-100%);
		-ms-transform: translateY(-100%);
		-o-transform: translateY(-100%);
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
		transform: translateY(0);
		-webkit-transform: translateY(0);
		-moz-transform: translateY(0);
		-ms-transform: translateY(0);
		-o-transform: translateY(0);
	}
}

@media screen and (max-width: 1220px) {
	.nav-list {
		width: 40vw;
	}

	header .input-wrapper {
		width: fit-content;
	}

	header .input-wrapper > input {
		display: none;
	}
}

@media screen and (max-width: 768px) {
	.container .left {
		justify-content: space-between;
	}

	.sidebar-btn {
		display: block;
	}

	.sidebar {
		display: none;
		position: fixed;
		top: 0;
		left: 0;
		bottom: 0;
		z-index: 100;
		width: max(40vw, 400px);
		height: 100%;
		padding: 20px;
		padding-block: 35px;
		flex-direction: column-reverse;
		justify-content: flex-end;
		background-color: white;
	}

	.sidebar nav {
		height: 100%;
	}

	.nav-list {
		flex-direction: column;
		height: 100%;
		justify-content: space-around;
	}

	.nav-item {
		font-size: 32px;
	}

	header .input-wrapper {
		width: 100%;
		justify-content: space-between;
	}

	header .input-wrapper > input {
		display: block;
	}

	.right {
		width: 100%;
		flex-direction: column-reverse;
		gap: 35px;
	}

	.separator {
		width: 100%;
		height: 1px;
	}

	.backdrop {
		display: none;
		z-index: 99;
		position: fixed;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		background-color: var(--dark-50);
	}

	.open {
		display: flex;
	}
}
