.your-course-tag {
	padding-inline: 24px;
	padding-block: 10px;
	font-size: var(--button);
	font-weight: 500;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
    color:var(--black-75);
	background-color: var(--gray);
}